<div class="flex px-4 py-2justify-between items-center">
  <%= link_to quote.name, quote_path(quote) %>
   
  <div>
    <%= link_to "Edit", edit_quote_path(quote), class: "border px-4 py-2 rounded-lg bg-amber-300" %>
    <%= link_to "Delete", quote_path(quote), method: :delete, class: "border px-4 py-2 rounded-lg bg-red-300" %>
  </div>
</div>
