<footer class="sticky flex justify-end px-4 py-6 mb-4 md:mb-10 bg-white bottom-0">
    <div class="flex space-x-4 items-center text-lg font-bold">
        <p>Total: </p>
        <p><%= number_to_currency quote.total_price %></p>
    </div>
</footer>