<div class="flex flex-col w-full justify-center space-y-6">
    <%= link_to sanitize("&larr; Back"), @quote %>
    <h1 class="text-3xl font-bold">
        New Item for <%= l(@line_item_date.date, format: :long)%>
    </h1>
        <%= render "form", quote: @quote,line_item_date: @line_item_date, line_item: @line_item %>
</div>
